<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
  </p>
  <br />
  <p>
    Vivamus ultrices turpis vehicula nulla tempus, non pulvinar lacus imperdiet. Morbi id elementum arcu. Donec viverra, leo a egestas pellentesque, urna felis aliquam dolor, id tempor diam tellus sed velit. Integer nec semper neque. Donec et mattis massa. Ut sagittis malesuada mauris in porta. Fusce volutpat pulvinar eros, eu pharetra odio porttitor a. Etiam felis mauris, porttitor elementum pretium nec, elementum vel neque. Pellentesque suscipit scelerisque justo vitae cursus. 
  </p>
  <br />
  <div class="col-xs-12 col-sm-4">
    <%= image_tag '1.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Zoran Cegar</h2>
    <br />
    <p>
      Zoran Cegar is Suspendisse a malesuada urna. Donec vehicula ornare efficitur. Curabitur et pellentesque mauris, sit amet maximus dolor. Morbi ut sodales nisl. Vestibulum pulvinar mauris ut rutrum pulvinar. Fusce pretium malesuada dolor eget accumsan. Fusce sem nulla, mattis ac nisi quis, tempor placerat justo. 
    </p>
  </div>

</div>